* {
  font-family: "General Sans", sans-serif;
}

/* hero section */
.parentmar {
  background-color: black;
  color: white;
}
.childmar > span {
    padding: 5px;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
/* hero section */
